In [16]:
from matplotlib.font_manager import findfont, FontProperties

In [17]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [5]:
data = {
"名稱":["客戶A","客戶B","客戶A","客戶B","客戶A","客戶B","客戶A","客戶A",],
"編號":["訂單1","訂單1","訂單2","訂單3","訂單2","訂單2","訂單1","訂單3"],
"數量":[4,4,1,2,3,4,2,1],
"售價":[495,496,360,451,221,321,466,260]}

In [6]:
data

{'名稱': ['客戶A', '客戶B', '客戶A', '客戶B', '客戶A', '客戶B', '客戶A', '客戶A'],
 '售價': [495, 496, 360, 451, 221, 321, 466, 260],
 '數量': [4, 4, 1, 2, 3, 4, 2, 1],
 '編號': ['訂單1', '訂單1', '訂單2', '訂單3', '訂單2', '訂單2', '訂單1', '訂單3']}

In [7]:
df = pd.DataFrame(data)
df

    名稱   售價  數量   編號
0  客戶A  495   4  訂單1
1  客戶B  496   4  訂單1
2  客戶A  360   1  訂單2
3  客戶B  451   2  訂單3
4  客戶A  221   3  訂單2
5  客戶B  321   4  訂單2
6  客戶A  466   2  訂單1
7  客戶A  260   1  訂單3

In [9]:
df.groupby("名稱").sum()
#根據名稱，把數值的地方加總

       售價  數量
名稱
客戶A  1802  11
客戶B  1268  10

In [10]:
products = {"channel":["網路","網路","電視","電視","郵購","郵購"],
            "company":["EFS","Momo","EHS","Viva","Momo","EFS"],
            "sales":[11.22,23.50,12.99,15.95,25.75,11.55]}
oridnals = ['A','B','C','D','E','F']
df2 = pd.DataFrame(products,index = oridnals)
print(df2)

  channel company  sales
A      網路     EFS  11.22
B      網路    Momo  23.50
C      電視     EHS  12.99
D      電視    Viva  15.95
E      郵購    Momo  25.75
F      郵購     EFS  11.55

In [11]:
score = [4,5,6,7,5,8]
df2["score"] = score
df2

  channel company  sales  score
A      網路     EFS  11.22      4
B      網路    Momo  23.50      5
C      電視     EHS  12.99      6
D      電視    Viva  15.95      7
E      郵購    Momo  25.75      5
F      郵購     EFS  11.55      8

In [12]:
pivot_tb = df2.pivot_table(index="channel",columns="company",values="sales")
pivot_tb

company    EFS    EHS   Momo   Viva
channel
網路       11.22    NaN  23.50    NaN
郵購       11.55    NaN  25.75    NaN
電視         NaN  12.99    NaN  15.95

In [13]:
df2.describe()

           sales     score
count   6.000000  6.000000
mean   16.826667  5.833333
std     6.307547  1.471960
min    11.220000  4.000000
25%    11.910000  5.000000
50%    14.470000  5.500000
75%    21.612500  6.750000
max    25.750000  8.000000

In [20]:
df2.plot(kind='bar')